# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.env
.venv/
venv/
ENV/
env/
*.env

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Virtualenv
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.spec

# mypy
.mypy_cache/
.dmypy.json

# Test and coverage
.coverage
htmlcov/
.tox/
.nox/
.cache/
pytest_cache/

# Pinecone cache
pinecone.db/
